/* Background image */
.admin-background {
    -fx-background-image: url("/icon/admin.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

/* Center card */
.admin-card {
    -fx-padding: 60;          /* more outer spacing around whole card */
    -fx-spacing: 40;          /* more spacing BETWEEN buttons */
    -fx-background-radius: 20;
    -fx-alignment: center;    /* center child alignment */
}

/* Welcome label */
.admin-welcome {
    -fx-text-fill: gold;
    -fx-translate-y: -5;   /* smaller upward shift */
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 4 0;  /* reduced space below */
}

/* Small subtitle label */
.admin-subtitle {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-translate-y: -5;   /* reduced upward shift */
    -fx-padding: 0 0 4 0;  /* reduced space below */
}

/* Buttons */
.admin-btn {
    -fx-background-color: #4f46e5;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 18 30;       /* internal button size */
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-font-weight: bold;
    -fx-border-color: gold;
    -fx-border-width: 1.5;
    -fx-cursor: hand;
    -fx-min-width: 220;       /* uniform button width */
}

.admin-btn:hover {
    -fx-background-color: #7069f3;
}
